@import 'reset';

body {
    background-color: rgb(0, 119, 255);
    overflow: hidden;
}

.wrap {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
    color: #ff0000;
    background: #00000017;
}

.cloud-group {
    position: fixed;
    top: 0;
    left: o;
    width: 100%;
    min-height: 100%;
    z-index: 1;
}

.cloud {
    width: 450px;
    height: 150px;
    border-radius: 70px;
    background-color: rgb(224, 226, 228);
    // transform: translateX(10%) translateY(20vh);
    position: relative;
    animation-iteration-count: infinite;
    animation-direction: alternate;

    &::after {
        content: '';
        position: absolute;
        width: 125Px;
        height: 125px;
        border-radius: 125px;
        background-color: rgb(224, 226, 228);
        top: -50px;
        left: 80px;
    }

    &::before {
        content: '';
        position: absolute;
        width: 250Px;
        height: 250px;
        border-radius: 250px;
        background-color: rgb(224, 226, 228);
        top: -100px;
        left: 150px;
    }

    &.s1 {
        transform: translate(10%, 15vh);
        animation-name: move-1;
        animation-duration: 2s;
    }

    &.s2 {
        transform: translate(100px, 27vh) scale(0.8);
        animation-name: move-2;
        animation-duration: 7s;
    }

    &.s3 {
        transform: translate(150px, 23vh) scale(0.2);;
        animation-name: move-3;
        animation-duration: 4s;
    }

    &.s4 {
        transform: translate(50px, 25vh) scale(0.6);;
        animation-name: move-4;
        animation-duration: 5s;
    }
    
}

@keyframes move {
    from {
        transform: translate(0, 0);
    }

    to {
        transform: translate(100%, 0);
    }
}

@keyframes move-1 {
    from {
        transform: translate(10%, 15vh);
    }

    to {
        transform: translate(100%, 15vh);
    }
}

@keyframes move-2 {
    from {
        transform: translate(100px, 27vh) scale(0.8);
    }

    to {
        transform: translate(100%, 27vh) scale(0.8);
    }
}

@keyframes move-3 {
    from {
        transform: translate(150px, 23vh) scale(0.2);
    }

    to {
        transform: translate(100%, 23vh) scale(0.2);
    }
}

@keyframes move-4 {
    from {
        transform: translate(50px, 25vh) scale(0.6);
    }

    to {
        transform: translate(100%, 25vh) scale(0.6);
    }
}
